.aptitude-questions-container {
    padding: 20px;
  }
  
  .aptitude-questions-container h2 {
    margin-bottom: 20px;
  }
  
  .table td, .table th {
    vertical-align: middle;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  .heading1{
    border-bottom: 3px solid rgb(137, 16, 194);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(219, 12, 64);
    width: fit-content;
    
  }
