#heading{
    border-bottom: 3px solid rgb(137, 16, 194);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(219, 12, 64);
    width: fit-content;
    font-size: 25px;
  }
